@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500&display=swap');

html {
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	background-color: #f4f7fe;
	overflow: hidden;
}

ul {
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

img {
	display: inline-block;
}

span {
	display: inline-block;
}

button {
	cursor: pointer;
}

/* examples/custom-styling.css */
/* .customOverlay {
	background: rgba(36, 123, 160, 0.7);
} */

.customModal {
	border-radius: 10px;
	max-width: 400px;
	width: 450px;
}